#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define NUMPAD 1
#define BLT 2

&mt { tapping-term-ms = <250>; };

/ {
    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        base_layer {
            bindings = <
&kp Q      &kp W      &kp E     &kp R      &kp T       &kp Y  &kp U      &kp I                   &kp O                  &kp P
&kp A      &kp S      &kp D     &kp F      &kp G       &kp H  &kp J      &kp K                   &kp L                  &kp SEMI
&kp Z      &kp X      &kp C     &kp V      &kp B       &kp N  &kp M      &mt LEFT_BRACKET COMMA  &mt RIGHT_BRACKET DOT  &kp BSPC
&kp LCTRL  &kp LSHFT  &kp LGUI  &kp ENTER  &kp C_MUTE         &kp SPACE  &kp RALT                &kp LEFT_ALT           &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
            label = "base";
        };
    };
};
